body {
    font-family:Arial, Helvetica, sans-serif
}

.container {
    border: 1px solid black;
    width: 60%;
	margin-left:20%;
    margin-right:20%;
    font-family: sans-serif;
    text-align: center;
}

.box {
    border:2px solid #000000;
    height: 30px;
	cursor:pointer;
    cursor:hand;
}

.box:hover {
	background-color:#e8e8e8;
}

h4 {
	margin-left: 200px;
}

.bottomline{
    border-bottom:4px solid #666666;
}

.arrow {
    border:0px solid #000000;
}

.transcript {
    position:fixed;
    top:40%;
    right:20px;
    width:220px;
    border:2px solid #000000;
}

.t_classes {
    width:100%;
}

.hidden {
    display:none;

}

.heading {
    font-size:14px
}