div .sidebar {
    float: left;
    border-top: 3px, solid, black;
    border-bottom: 3px, solid, black;
    border-left: 3px, solid, black;
    border-right: 3px, solid, black;

}

div .startclasses {
    
}
div .secondaryclasses {
    
}
div .supplyclasses {
    
}
div .dataclasses {
    
}
div .infoclasses {
    
}
div .otherclasses {
    
}